/*
   Title: This is my first style sheet
   Auther: Blake Cooney
   Date: 09/27/2021
   
   File name: Style_Sheet.css
   Format: .css
*/


 body{
          background-color:black;
          font-family:Comic Sans MS, sans-serif;
    }
    
   h1{
          color:Lime;
          font-family:Impact, sans-serif;
          font-size:28px;
          letter-spacing:20px;
          text-align:center;
       }
   h2{
          color:Lime;
          font-family:Impact, sans-serif;
          font-size:28px;
          letter-spacing:20px;
          text-align:center;
   }
    p{
        color:magenta;
        text-align: center;
        font-family:Comic Sans MS, sans-serif;
    }


    
